<h3 class="section-title">資産リスト</h3>

<div class="modal-trigger">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#Modal">
    <i class="fas fa-plus"></i>
  </button>
</div>

<table class="table">
  <thead class="thead-light">
    <th>資産名</th>
    <th></th>
  </thead>
  <% if @user_assets %>
    <tbody>
      <% @user_assets.each do |user_asset| %>
        <tr>
          <td><%= user_asset.title %></td>
          <td><%= link_to user_asset, method: :delete, data: { confirm: "本当に削除しますか?" }, class: 'btn btn-default' do %><i class="fas fa-times"></i><% end %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    There is no user_assets.
  <% end %>
</table>

<%= link_to "資産額登録", asset_transitions_path, class: 'btn btn-light' %>

<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">資産を登録</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= form_for(@user_asset, :url => {:action => 'create'}) do |f| %>
        <div class="modal-body">
          <% if false %>
            <ul>
              <%= @user_asset.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
              
          <div class="form-group">
            <%= f.text_field :title, {placeholder: "資産名", class: 'form-control'} %>
          </div>
        </div>
          
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
          <%= f.submit "登録", class:'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
