<div class="main-container">
<h3 class="section-title">カード</h3>

<div class="each-monthly-flow row">
  <% if @selected_month %>
    <div class="prev">
      <button type="submit" class="btn btn-link prev-month"><i class="fas fa-chevron-circle-left"></i></button>
      <%= form_tag('/amount_used_of_credits', :method => :get) do %>
        <%= date_select :select_month, {}, default: @selected_month.prev_month, discard_day: true %>
      <% end %>
    </div>
    引落合計 ： <%= @sum_monthly_amount_used_of_credits %>
    (<%= @selected_month.year %>年<%= @selected_month.month %>月)
    <div class="next">
      <button type="submit" class="btn btn-link next-month"><i class="fas fa-chevron-circle-right"></i></button>
      <%= form_tag('/amount_used_of_credits', :method => :get) do %>
        <%= date_select :select_month, {}, default: @selected_month.next_month, discard_day: true %>
      <% end %>
    </div>
  <% else %>
    <div class="prev">
      <button type="submit" class="btn btn-link prev-month"><i class="fas fa-chevron-circle-left"></i></button>
      <%= form_tag('/amount_used_of_credits', :method => :get) do %>
        <%= date_select :select_month, {}, default: @date.prev_month, discard_day: true %>
      <% end %>
    </div>
    引落合計 ： <%= @sum_monthly_amount_used_of_credits %>
    (<%= @date.year %>年<%= @date.month %>月)
    <div class="next">
      <button type="submit" class="btn btn-link next-month"><i class="fas fa-chevron-circle-right"></i></button>
      <%= form_tag('/amount_used_of_credits', :method => :get) do %>
        <%= date_select :select_month, {}, default: @date.next_month, discard_day: true %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="modal-trigger">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#Modal">
    <i class="fas fa-plus"></i>
  </button>
</div>

<div class="main-wrapper">
  <% if @amount_used_of_credits %>
    <% @amount_used_of_credits.each do |amount_used_of_credit| %>
      <div class="card-wrapper">
        <div class="card"  style="width: 18rem;">
          <div class="card-header">
            カード：<%= amount_used_of_credit.credit_card.title %>
            <%= link_to amount_used_of_credit, method: :delete, data: { confirm: "本当に削除しますか?" }, class: 'btn btn-default' do %><i class="fas fa-times"></i><% end %>
          </div>
          <div class="card-body">
            <ul style="list-style:none; margin-bottom:0;">
              <li>利用残高：<%= amount_used_of_credit.using_border %></li>
              <li>引き落とし額：<%= amount_used_of_credit.credit_withdrawal %></li>
              <li>引き落とし日：<%= amount_used_of_credit.withdrawal_date.strftime("%Y-%m-%d") if amount_used_of_credit.withdrawal_date %></li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    There is no amount_used_of_credits.
  <% end %>
</div>

<%= link_to 'カード登録', credit_cards_path, class: "btn btn-light" %>

<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">引き落とし情報を登録</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= form_for(@amount_used_of_credit, :url => {:action => 'create'}) do |f| %>
        <div class="modal-body">
          <% if false %>
            <ul>
              <%= @amount_used_of_credit.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
              
          <div class="form-group">
            <%= f.number_field :using_border, {placeholder: "利用残高", class: 'form-control', required: true} %>
          </div>
          <div class="form-group">
            <%= f.number_field :credit_withdrawal, {placeholder: "引き落とし額", class: 'form-control', required: true} %>
          </div>
          <div class="form-group">
            <%= f.label :credit_card_id, "カードを選択" %>
            <%= f.select :credit_card_id, @credit_card_id, {}, {class: 'form-control', required: true} %>
          </div>
          <div class="form-group">
            <%= f.label :withdrawal_date, "引き落とし日" %>
            <%= f.date_field :withdrawal_date, value: @date.strftime("%Y-%m-%d"), class: 'form-control' %>
          </div>
        </div>
              
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
          <%= f.submit "登録", class:'btn btn-primary' %>
        </div>
      <% end %>

    </div>
  </div>
</div>
</div>
