<div class="main-container">
<h3 class="section-title">負債</h3>

<div class="each-monthly-flow row">
  <% if @selected_month %>
    <div class="prev">
      <button type="submit" class="btn btn-link prev-month"><i class="fas fa-chevron-circle-left"></i></button>
      <%= form_tag('/debts', :method => :get) do %>
        <%= date_select :select_month, {}, default: @selected_month.prev_month, discard_day: true %>
      <% end %>
    </div>
    返済額 ： <%= @sum_monthly_debts %>
    (<%= @selected_month.year %>年<%= @selected_month.month %>月)
    <div class="next">
      <button type="submit" class="btn btn-link next-month"><i class="fas fa-chevron-circle-right"></i></button>
      <%= form_tag('/debts', :method => :get) do %>
        <%= date_select :select_month, {}, default: @selected_month.next_month, discard_day: true %>
      <% end %>
    </div>
  <% else %>
    <div class="prev">
      <button type="submit" class="btn btn-link prev-month"><i class="fas fa-chevron-circle-left"></i></button>
      <%= form_tag('/debts', :method => :get) do %>
        <%= date_select :select_month, {}, default: @date.prev_month, discard_day: true %>
      <% end %>
    </div>
    返済額 ： <%= @sum_monthly_debts %>
    (<%= @date.year %>年<%= @date.month %>月)
    <div class="next">
      <button type="submit" class="btn btn-link next-month"><i class="fas fa-chevron-circle-right"></i></button>
      <%= form_tag('/debts', :method => :get) do %>
        <%= date_select :select_month, {}, default: @date.next_month, discard_day: true %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="modal-trigger">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#Modal">
    <i class="fas fa-plus"></i>
  </button>
</div>

<div class="main-wrapper">
  <% if @debts %>
    <% @debts.each do |debt| %>
      <div class="card-wrapper">
        <div class="card"  style="width: 18rem;">
          <div class="card-header">
            負債名：<%= debt.title %>
            <%= link_to debt, method: :delete, data: { confirm: "本当に削除しますか?" }, class: 'btn btn-default' do %><i class="fas fa-times"></i><% end %>
          </div>
          <div class="card-body">
            <ul style="list-style:none; margin-bottom:0;">
              <li>負債総額：<%= debt.debt_total_amount %></li>
              <li>毎月の返済額：<%= debt.debt_withdrawal %></li>
              <li>毎月の返済日：<%= debt.withdrawal_date %></li>
              <li>完済日：<%= debt.full_payment_date %></li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    There is no debts.
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">負債登録</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= form_for(@debt, :url => {:action => 'create'}) do |f| %>
        <div class="modal-body">
          <% if false %>
            <ul>
              <%= @debt.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
              
          <div class="form-group">
            <%= f.text_field :title, {placeholder: "負債名", class: 'form-control'} %>
          </div>
          <div class="form-group">
            <%= f.number_field :debt_total_amount, {placeholder: "負債総額", class: 'form-control'} %>
          </div>
          <div class="form-group">
            <%= f.number_field :debt_withdrawal, {placeholder: "毎月の返済額", class: 'form-control'} %>
          </div>
          <div class="form-group">
            <%= f.label :withdrawal_date, "毎月の返済日" %>
            <%= f.select :withdrawal_date, 1..31, {}, {class: 'form-control'} %>
          </div>
        </div>
          
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
          <%= f.submit "登録", class:'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
