<h1>debts#index</h1>
<p>Find me in app/views/debts/index.html.erb</p>

今月の収支は<%= @monthly_flow %>円です

<% if @sum_monthly_debts %>
  毎月の返済額 ： <%= @sum_monthly_debts %>
<% end %>


<%= form_for(@debt, :url => {:action => 'create'}) do |f| %>

  <% if false %>
    <ul>
      <%= @debt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group">
    <%= f.text_field :title, {placeholder: "title", class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.number_field :debt_total_amount, {placeholder: "debt_total_amount", class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.number_field :debt_withdrawal, {placeholder: "debt_withdrawal", class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.select :withdrawal_date, 1..31, {}, {class: 'form-control'} %>
  </div>
    
  <div class="form-group">
    <%= f.submit "submit", class:'btn btn-primary' %>
  </div>
<% end %>

<table class="table">
  <thead>
    <th>id</th>
    <th>title</th>
    <th>debt_total_amount</th>
    <th>debt_withdrawal</th>
    <th>withdrawal_date</th>
    <th>full_payment_date</th>
    <th></th>
  </thead>
  <% if @debts %>
    <tbody>
      <% @debts.each do |debt| %>
        <tr>
          <td><%= debt.id %></td>
          <td><%= debt.title %></td>
          <td><%= debt.debt_total_amount %></td>
          <td><%= debt.debt_withdrawal %></td>
          <td><%= debt.withdrawal_date %></td>
          <td><%= debt.full_payment_date %></td>
          <td><%= link_to "delete", debt, method: :delete, data: { confirm: "本当に削除しますか?" }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    There is no debts.
  <% end %>
</table>

<%= link_to "back", root_path, class: 'btn btn-default' %>
