<div class="main-container">
<h3 class="section-title">カード登録</h3>

<div class="modal-trigger">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#Modal">
    <i class="fas fa-plus"></i>
  </button>
</div>

<div class="main-wrapper">
  <% if @credit_cards %>
    <% @credit_cards.each do |credit_card| %>
      <div class="card-wrapper">
        <div class="card"  style="width: 18rem;">
          <div class="card-header">
            カード名：<%= credit_card.title %>
            <%= link_to credit_card, method: :delete, data: { confirm: "本当に削除しますか?" }, class: 'btn btn-default' do %><i class="fas fa-times"></i><% end %>
          </div>
          <div class="card-body">
            <ul style="list-style:none; margin-bottom:0;">
              <li>有効期限：<%= credit_card.use_period.strftime("%Y-%m") %></li>
              <li>利用可能枠：<%= credit_card.use_border %></li>
              <li>引き落とし日：<%= credit_card.withdrawal_date %></li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    There is no credit_cards.
  <% end %>
</div>

<%= link_to '引き落とし情報登録', amount_used_of_credits_path, class: "btn btn-light" %>

<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">カードを登録</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= form_for(@credit_card, :url => {:action => 'create'}) do |f| %>
        <div class="modal-body">
          <% if false %>
            <ul>
              <%= @credit_card.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
              
          <div class="form-group">
            <%= f.text_field :title, {placeholder: "カード名", class: 'form-control', required: true} %>
          </div>
          <div class="form-group">
            <%= f.label :use_period, "有効期限" %>
            <%= f.date_select :use_period, {default: @date, discard_day: true}, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.number_field :use_border, {placeholder: "利用枠", class: 'form-control', required: true} %>
          </div>
          <div class="form-group">
            <%= f.label :withdrawal_date, "引落日" %>
            <%= f.select :withdrawal_date, 1..31, {}, {class: 'form-control'} %>
          </div>
        </div>
              
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
          <%= f.submit "登録", class:'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
