<% if user_signed_in? %>
今月の収支は<%= @monthly_flow %>円です

<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "" %>
<%= link_to 'Items', items_path, class: "" %>
<%= link_to 'Assets', asset_transitions_path, class: "" %>
<%= link_to 'Incomes', incomes_path, class: "" %>
<%= link_to 'Debts', debts_path, class: "" %>
<%= link_to 'CreditCards', amount_used_of_credits_path, class: "" %>

<% else %>

Please login

<%= link_to 'Sign Up', new_user_registration_path, class: "" %>
<%= link_to 'Log In', new_user_session_path, class: "" %>


<% end %>