<% if user_signed_in? %>
  <div class="display-monthly-flow">
    <%= @display_monthly_flow %>
  </div>
  
  <%= month_calendar do |date| %>
    <%= date.strftime("%d") %>
    <div class="day_flow_of_income">
      <%= @incomes.having("income_date = ?", date)[0].daily_incomes if @incomes.having("income_date = ?", date)[0] %>
    </div>
    <div class="day_flow_of_item">
      <%= @items.having("date = ?", date)[0].daily_item_price if @items.having("date = ?", date)[0] %>
    </div>
    <div class="day_flow_of_credit">
      <%= @credits.having("withdrawal_date = ?", date)[0].daily_credit_withdrawal if @credits.having("withdrawal_date = ?", date)[0] %>
    </div>
    <div class="day_flow_of_debt">
      <%= @debts.having("withdrawal_date = ?", date.day)[0].daily_debt_withdrawal if @debts.having("withdrawal_date = ?", date.day)[0] %>
    </div>
  <% end %>

<% else %>

  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <h2>Money Management</h2>
      </div>
      <br>

      <!-- Login Form -->
      <form>
        <div class="fadeIn second">
          <p>管理から漏れがちな現金出費、移動費など<p>
        </div>
        <div class="fadeIn third">
          <p>何気ない日々の出費を記録することで</p>
        </div>
        <div class="fadeIn fourth">
          <p>家計を改善していこう</p>
        </div>
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <%= link_to "さあ、始めよう！", new_user_session_path, class: "btn btn-outline-light" %>
      </div>

    </div>
  </div>

<% end %>