<% if user_signed_in? %>
  <div class="main-container">
  <div class="display-monthly-flow">
    <%= @display_monthly_flow %>
  </div>
  <%= month_calendar do |date| %>
    <%= date.strftime("%d") %>
    <div class="day_flow_of_income">
      <%= @incomes.having("income_date = ?", date)[0].daily_incomes if @incomes.having("income_date = ?", date)[0] %>
    </div>
    <div class="day_flow_of_item">
      <%= @items.having("date = ?", date)[0].daily_item_price if @items.having("date = ?", date)[0] %>
    </div>
    <div class="day_flow_of_credit">
      <%= @credits.having("withdrawal_date = ?", date)[0].daily_credit_withdrawal if @credits.having("withdrawal_date = ?", date)[0] %>
    </div>
    <div class="day_flow_of_debt">
      <%= @debts.having("withdrawal_date = ?", date.day)[0].daily_debt_withdrawal if @debts.having("withdrawal_date = ?", date.day)[0] %>
    </div>
  <% end %>
  </div>

<% else %>

  <div class="unlogin-home">
    <div class="title-1">
      Money
    </div>
    <div class="title-2">
      Management
    </div>
    <div class="login-button">
      <%= link_to "login", new_user_session_path, data: {turbolinks: false}, class: "nav-link" %>
    </div>
    <div class"usage">
      <a href="#" class="nav-link" data-toggle="modal" data-target="#exampleModalCenter">read me</a>
    </div>
  </div>

<% end %>