<% if user_signed_in? %>
  <div class="display-monthly-flow">
    <%= @display_monthly_flow %>
  </div>
  
  <%= month_calendar do |date| %>
    <%= date.strftime("%d") %>
    <div class="day_flow_of_income">
      <%= @incomes.having("income_date = ?", date)[0].daily_incomes if @incomes.having("income_date = ?", date)[0] %>
    </div>
    <div class="day_flow_of_item">
      <%= @items.having("date = ?", date)[0].daily_item_price if @items.having("date = ?", date)[0] %>
    </div>
    <div class="day_flow_of_credit">
      <%= @credits.having("withdrawal_date = ?", date)[0].daily_credit_withdrawal if @credits.having("withdrawal_date = ?", date)[0] %>
    </div>
    <div class="day_flow_of_debt">
      <%= @debts.having("withdrawal_date = ?", date.day)[0].daily_debt_withdrawal if @debts.having("withdrawal_date = ?", date.day)[0] %>
    </div>
  <% end %>

<% else %>

  Please login
  
  <%= link_to 'Sign Up', new_user_registration_path, class: "" %>
  <%= link_to 'Log In', new_user_session_path, class: "" %>

<% end %>