<div>
  <h1>バランスシート</h1>
</div>

<div>
  <h2>取得期間:<%= @start %>〜<%= @end %></h2>
</div>




<table class="table">
  <thead class="thead-light"> 
    <tr><th>収入</th><td><%= @incomes if @incomes %></td></tr>

    <% @item_types.each do |item_type| %>
      <tr><th><%= item_type.item_type %></th><td><%= @items.having("item_type_id = #{item_type.id}")[0].sum_price if @items && @items.having("item_type_id = #{item_type.id}")[0] %></td></tr>
    <% end %>

    <% if @credits %>
      <% @credits.each do |credit| %>
        <tr><th><%= credit.title %></th><td><%= credit.sum_withdrawal %></td></tr>
      <% end %>
    <% end %>

    <% if @debts != 0 %>
      <tr><th>借金返済</th><td><%= @debts %></td></tr>
    <% end %>
  </thead>
  
  <% if @total %>
    <tbody class="thead-dark"> 
      <tr><th>合計</th><td><%= @total %></td></tr>
    </tbody>
  <% end %>
</table>
