<h3 class="section-title">支出</h3>

<div class="each-monthly-flow row">
  <% if @selected_month %>
    <div class="prev">
      <button type="submit" class="btn btn-link prev-month"><i class="fas fa-chevron-circle-left"></i></button>
      <%= form_tag('/items', :method => :get) do %>
        <%= date_select :select_month, {}, default: @selected_month.prev_month, discard_day: true %>
      <% end %>
    </div>
    支出合計 ： <%= @sum_monthly_items %>
    (<%= @selected_month.year %>年<%= @selected_month.month %>月)
    <div class="next">
      <button type="submit" class="btn btn-link next-month"><i class="fas fa-chevron-circle-right"></i></button>
      <%= form_tag('/items', :method => :get) do %>
        <%= date_select :select_month, {}, default: @selected_month.next_month, discard_day: true %>
      <% end %>
    </div>
  <% else %>
    <div class="prev">
      <button type="submit" class="btn btn-link prev-month"><i class="fas fa-chevron-circle-left"></i></button>
      <%= form_tag('/items', :method => :get) do %>
        <%= date_select :select_month, {}, default: @date.prev_month, discard_day: true %>
      <% end %>
    </div>
    支出合計 ： <%= @sum_monthly_items %>
    (<%= @date.year %>年<%= @date.month %>月)
    <div class="next">
      <button type="submit" class="btn btn-link next-month"><i class="fas fa-chevron-circle-right"></i></button>
      <%= form_tag('/items', :method => :get) do %>
        <%= date_select :select_month, {}, default: @date.next_month, discard_day: true %>
      <% end %>
    </div>
  <% end %>
</div>



<div class="modal-trigger">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#Modal">
    <i class="fas fa-plus"></i>
  </button>
</div>

<table class="table">
  <thead class="thead-light">
    <th>支出名</th>
    <th>金額</th>
    <th>日付</th>
  </thead>
  <% if @items %>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= link_to "#{item.title}", item_path(item) %></td>
          <td><%= item.price %></td>
          <td><%= item.date.strftime("%d") %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    There is no items.
  <% end %>
</table>

<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">支出を登録</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <%= form_for(@item, :url => {:action => 'create'}) do |f| %>
        <div class="modal-body">
        
          <% if false %>
            <ul>
              <%= @item.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
              
          <div class="form-group">
            <%= f.text_field :title, {placeholder: "支出名", class: 'form-control'} %>
          </div>
          <div class="form-group">
            <%= f.label :item_type_id, "カテゴリ" %>
            <%= f.select :item_type_id, @item_type_id, {}, {class: 'form-control'} %>
          </div>
          <div class="form-group">
            <%= f.number_field :price, {placeholder: "金額", class: 'form-control'} %>
          </div>
          <div class="form-group">
            <%= f.label :date, "日付" %>
            <%= f.date_field :date, value: @date.strftime("%Y-%m-%d"), class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.check_box :use_credit, checked_value: "1", unchecked_value: "0" %>
            <%= f.label :use_credit, "カード払い" %>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
          <%= f.submit "登録", class:'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>