<table class="table">
  <% if @item %>
    <thead class="thead-light">
      <tr>
        <th>title</th>
        <td><%= @item.title %></td>
      </tr>
      <tr>
        <th>price</th>
        <td><%= @item.price %></td>
      </tr>
      <tr>
        <th>image</th>
        <td><% if @item.image_url %><%= @item.image_url %><% end %></td>
      </tr>
      <tr>
        <th>date</th>
        <td><%= @item.date %></td>
      </tr>
    </thead>
  <% else %>
    There is no items.
  <% end %>
</table>

<%= link_to @item, method: :delete, data: { confirm: "本当に削除しますか?" }, class: 'btn btn-default' do %><i class="fas fa-times"></i><% end %>
<%= link_to "一覧", items_path, class: 'btn btn-light' %>