<div class="main-container">
<table class="table item-table">
  <% if @item %>
    <thead class="thead-light">
      <tr>
        <th>支出名</th>
        <td><%= @item.title %></td>
      </tr>
      <tr>
        <th>金額</th>
        <td><%= @item.price %></td>
      </tr>
      <tr>
        <th>画像</th>
        <td>
          <% if @item.image_url.url %>
            <a href="<%= @item.image_url.url %>" data-lightbox="image" data-title="item-image">
              <%= image_tag @item.image_url.url, class:"item-image" %>
            </a>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>日付</th>
        <td><%= @item.date %></td>
      </tr>
      <tr>
        <th>カード使用</th>
        <td><%= @item.use_credit %></td>
      </tr>
    </thead>
  <% else %>
    There is no items.
  <% end %>
</table>

<%= link_to @item, method: :delete, data: { confirm: "本当に削除しますか?" }, class: 'btn btn-default' do %><i class="fas fa-times"></i><% end %>
<%= link_to "一覧", items_path, class: 'btn btn-light' %>
</div>