<div class="modal-trigger">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#Modal">
    <i class="fas fa-plus"></i>
  </button>
</div>

<table class="table">
  <thead>
    <th>asset_amount</th>
    <th>user_asset</th>
    <th>date</th>
    <th></th>
  </thead>
  <% if @asset_transitions %>
    <tbody>
      <% @asset_transitions.each do |asset_transition| %>
        <tr>
          <td><%= asset_transition.asset_amount %></td>
          <td><%= asset_transition.user_asset.title %></td>
          <td><%= asset_transition.date.strftime("%Y-%m-%d") if asset_transition.date %></td>
          <td><%= link_to "delete", asset_transition, method: :delete, data: { confirm: "本当に削除しますか?" }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    There is no asset_transitions.
  <% end %>
</table>

<%= link_to 'UserAsset', user_assets_path, class: "btn btn-default" %>

<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= form_for(@asset_transition, :url => {:action => 'create'}) do |f| %>
        <div class="modal-body">
          <% if false %>
            <ul>
              <%= @asset_transition.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
              
          <div class="form-group">
            <%= f.number_field :asset_amount, {placeholder: "asset_amount", class: 'form-control'} %>
          </div>
          <div class="form-group">
            <%= f.date_field :date, value: @date.strftime("%Y-%m-%d"), class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.select :user_asset_id, @user_asset_id, {}, {class: 'form-control'} %>
          </div>
        </div>
            
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "submit", class:'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
