<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading"><%= link_to "Mane2", root_path %></div>
  
  <div class="list-group list-group-flush">
    <div class="list-group-item list-group-item-action"><%= @display_monthly_flow %></div>
    <%= link_to '購入', items_path, class: "list-group-item list-group-item-action bg-light" %>
    <%= link_to '収入', incomes_path, class: "list-group-item list-group-item-action bg-light" %>
    <%= link_to '資産', asset_transitions_path, class: "list-group-item list-group-item-action bg-light" %>
    <%= link_to 'カード', amount_used_of_credits_path, class: "list-group-item list-group-item-action bg-light" %>
    <%= link_to '負債', debts_path, class: "list-group-item list-group-item-action bg-light" %>
  </div>
</div>
